html {
  font-size: 100%;
  scroll-behavior: smooth;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #F8F8F8;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  color: #F8F8F8;
}

p {
  font-family: "Inter", sans-serif;
  color: #F8F8F8;
}

h1 {
  font-family: "Poppins", sans-serif;
  color: #000000;
  font-weight: 400;
  font-size: 48px;
  margin: 0px;
  padding-left: 12px;
}

h5 {
  font-family: "Inter", sans-serif;
  color: #000000;
  font-weight: 600;
  font-size: 24px;
  margin: 0px;
  padding-left: 12px;
  padding-top: 12px;
}

.titulo {
  border-bottom: 2px solid #000000;
  border-top: 2px solid #000000;
}

.todo-videoclip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

img.videoclip1 {
  max-width: 66%;
  border-right: 2px solid #000000;
}

div.texto-boton-videoclip {
  font-family: "Inter", sans-serif;
  color: #000000;
  font-size: 24px;
  padding: 24px;
}

p.texto-videoclip {
  color: #000000;
}

.button {
  background-color: #301FF0;
  border-radius: 28px;
  display: inline-block;
  cursor: pointer;
  color: #F8F8F8;
  font-size: 24px;
  padding: 6px 12px;
  text-decoration: none;
  margin-left: 42%;
}

.button:hover {
  background-color: #23F410;
  color: #000000;
}

.button:active {
  position: relative;
  top: 1px;
}

.cuadricula-bcg {
  position: relative;
  z-index: 0;
  padding-top: 120px;
  padding-bottom: 36px;
  display: block;
  margin: auto;
}

div.texto-movil-padre {
  height: 90px;
  border-bottom: 2px solid #000000;
}

div.texto-imagen {
  position: relative;
  z-index: 1;
  color: #000000;
  top: -370px;
  left: 290px;
}

p.texto-imagen-item1, p.texto-imagen-item2, p.texto-imagen-item3 {
  color: #000000;
  font-size: 48px;
  margin: 0px 0px 12px 0px;
}

p.texto-imagen-item2 {
  margin-left: 270px;
}

p.texto-imagen-item3 {
  margin-left: 70px;
}

section.define-tu-imagen {
  max-width: 100%;
  overflow: hidden;
}

.iphone {
  position: relative;
  z-index: 1;
  color: #000000;
  top: -830px;
  left: 800px;
}

#skills {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  overflow: hidden;
}

#skills .scrollingSkills {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #000000;
}

#skills .scrollingSkills div {
  color: white;
  font-size: 18px;
  white-space: nowrap;
  -webkit-animation: animSkills 80s linear infinite;
          animation: animSkills 80s linear infinite;
  -webkit-animation-delay: -80s;
          animation-delay: -80s;
}

#skills .scrollingSkills div:nth-child(2) {
  -webkit-animation: animSkills2 80s linear infinite;
          animation: animSkills2 80s linear infinite;
  -webkit-animation-delay: -40s;
          animation-delay: -40s;
}

@-webkit-keyframes animSkills {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes animSkills {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
@-webkit-keyframes animSkills2 {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
}
@keyframes animSkills2 {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
}
#skills2 {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  overflow: hidden;
}

#skills2 .scrollingSkills2 {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #23F410;
}

#skills2 .scrollingSkills2 div {
  color: #000000;
  font-size: 18px;
  white-space: nowrap;
  -webkit-animation: animSkills 80s linear infinite;
          animation: animSkills 80s linear infinite;
  -webkit-animation-delay: -80s;
          animation-delay: -80s;
}

#skills2 .scrollingSkills2 div:nth-child(2) {
  -webkit-animation: animSkills2 80s linear infinite;
          animation: animSkills2 80s linear infinite;
  -webkit-animation-delay: -40s;
          animation-delay: -40s;
}

@keyframes animSkills {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
@keyframes animSkills2 {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
}
#skills3 {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  overflow: hidden;
}

#skills3 .scrollingSkills3 {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #301FF0;
}

#skills3 .scrollingSkills3 div {
  color: #F8F8F8;
  font-size: 18px;
  white-space: nowrap;
  -webkit-animation: animSkills 80s linear infinite;
          animation: animSkills 80s linear infinite;
  -webkit-animation-delay: -80s;
          animation-delay: -80s;
}

#skills3 .scrollingSkills3 div:nth-child(2) {
  -webkit-animation: animSkills2 80s linear infinite;
          animation: animSkills2 80s linear infinite;
  -webkit-animation-delay: -40s;
          animation-delay: -40s;
}

@keyframes animSkills {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
@keyframes animSkills2 {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
}
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 2px solid #000000;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu {
  float: right;
  padding: 24px;
  font-size: 24px;
}

.logo {
  float: left;
  padding: 12px;
}

.logo-south {
  width: 232px;
}

a.item {
  color: #000000;
  padding-left: 24px;
  text-decoration: none;
}

a.item:hover {
  font-weight: 600;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #23F410;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  color: #23F410;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

.swiper-button-next {
  color: #23F410;
}

.swiper-button-prev {
  color: #23F410;
}

.swiper-pagination {
  color: #23F410;
}

.imagenes-sonido {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-bottom: 2px solid #000000;
  overflow: hidden;
}

.sonido3 {
  border-left: 2px solid #000000;
}

.distribuye2 {
  border-right: 2px solid #000000;
}

.sonido1, .distribuye1 {
  border-left: 2px solid #000000;
  border-right: 2px solid #000000;
}

.imagenes-distribuye {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  overflow: hidden;
}

.newsletter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100%;
  height: 50px;
  background-color: #23F410;
  padding-right: 12px;
  border-top: 2px solid #000000;
  overflow: hidden;
}

p.newsletter-text {
  color: #000000;
  font-size: 24px;
  padding-left: 12px;
}

.input-newsletter, .boton-soft-black {
  color: #000000;
  font-size: 24px;
}

.input-newsletter {
  background-color: transparent;
  border: none;
  color: #000000;
}

.email-button {
  padding-right: 12px;
}

.parent {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 0px 1fr 0px 1fr 0px 1fr 0px 1fr;
  grid-template-columns: repeat(5, 1fr);
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border-top: 2px solid #000000;
}

.parent > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.parent > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.parent > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.parent > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}

.parent > *:nth-child(5) {
  -ms-grid-row: 1;
  -ms-grid-column: 9;
}

.div1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1/1/2/2;
  border-right: 2px solid #000000;
}

.div2 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1/2/2/3;
  border-right: 2px solid #000000;
}

.div3 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 1/3/2/4;
  border-right: 2px solid #000000;
}

.div4 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-area: 1/4/2/5;
  border-right: 2px solid #000000;
}

.div5 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-area: 1/5/2/6;
}

ul {
  padding: 0px;
  list-style: none;
}

.itemF {
  padding-left: 12px;
  text-decoration: none;
  color: #000000;
}

.itemF:hover {
  font-weight: 600;
}

.direccion {
  padding-left: 12px;
}

.itemD {
  text-decoration: none;
  color: #000000;
}

.itemD:hover {
  font-weight: 600;
}

.div5 {
  padding-left: 12px;
}

.parent-packs {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 0px 1fr 0px 1fr;
  grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border-top: 2px solid #000000;
  text-align: center;
}

.parent-packs > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.parent-packs > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.parent-packs > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.div1-packs {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1/1/2/2;
  border-right: 2px solid #000000;
}

.div2-packs {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1/2/2/3;
  border-right: 2px solid #000000;
}

.div3-packs {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 1/3/2/4;
}

.lista-packs {
  color: #000000;
  list-style: none;
  text-align: left;
  padding-left: 24px;
  padding-bottom: 24px;
  font-size: 24px;
}

.button-packs {
  background-color: #301FF0;
  border-radius: 28px;
  display: inline-block;
  cursor: pointer;
  color: #F8F8F8;
  font-size: 24px;
  padding: 6px 12px;
  text-decoration: none;
  margin-bottom: 24px;
}

.button-packs:hover {
  background-color: #23F410;
  color: #000000;
}

.button-packs:active {
  position: relative;
  top: 1px;
}

.button-izq {
  padding-top: 60px;
}