

#skills3{
    position:relative;
    width:100%;
    display:flex;
    align-items:flex-start;
    overflow:hidden;
  }
  
  #skills3 .scrollingSkills3{
    width:100%;
    height:50px;
    display:flex;
    align-items:center;
    background-color: $blue;
  }
  
  #skills3 .scrollingSkills3 div{
    color:$white;
    font-size: 18px;
    white-space:nowrap;
    animation: animSkills 80s linear infinite;
    animation-delay: -80s;
  }
  
  #skills3 .scrollingSkills3 div:nth-child(2){
    animation: animSkills2 80s linear infinite;
    animation-delay: -40s;
  }
  
  @keyframes animSkills{
    0%{
      transform: translateX(100%);
    }
    100%{
      transform:translateX(-100%);
    }
  }
  
  @keyframes animSkills2{
    0%{
      transform: translateX(0);
    }
    100%{
      transform:translateX(-200%);
    }
  }
  